.dub
#SDL2 please download from SDL themself
Deps/
src/Engine/main/Includes/include/

#libquarp
docs.json
__dummy.html
cfg.py #should never be on Github (bc its your cfg File)
docs/
/quarp
quarp.so
quarp.dylib
quarp.dll
quarp.a
quarp.lib
quarp-test-*
*.exe
*.o
*.obj
*.lst
#Server Core
/dserver
dserver.so
dserver.dylib
dserver.dll
dserver.a
dserver.lib
dserver-test-*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
